*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
}
nav{
    background: rgb(45, 43, 40);
    max-height: 70px;
    text-decoration: none;
    padding: 30px 40px;
    color: white;
    /* list-style: none; */
}
.menu{
    display: flex;
    flex-direction: left;
    
    gap:70px ;
    list-style: none;
    color: white;
    cursor: pointer;
    /* text-decoration: none; */

}

li{
    color: rgb(244, 247, 249);
    text-decoration: none;
    
}

.gallery{
    background-image: url(./images/photo2.jpg);
    height: 800px;
    width: 100%;

}
.header2,.header3{
    position: relative;
    
    top: 90%;
    /* right: 10%;
     */
left: 50%;
   bottom: 80%;
}
.text{
    background-color: white;
    height: 800px;
    width: 100%;

}
.band-text{
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
}
img{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
.main-photos{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 450px;
    margin-right: 400px;
    margin-top: 100px;
}

.j{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.tour{
    background-color: black;
    width: 100%;
    height: 800px;
    
}
.tour-header{
    font-size: 50px;
    gap: 30px;
    color: white;
    letter-spacing: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
    
}
.k{
    font-style: italic;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    
}
.book-ticket{
    background-color: bisque;
    height: 150px;
    width: 800px;
    margin: 20px  300px 10px 300px;

}

.dropdown{
    list-style-type: none;
    padding: 30px;
    background-color: blueviolet;
    color: black;
    line-height: 25px;
    text-transform: capitalize;
    display: none;
}
.haveHover:hover .dropdown{

    display: block;
}
.border{
    margin: 20px 20px;
    padding-top:10px ;
    border-bottom: 1px solid red;
    font-size: 25px;
}
.left{
    /* border: none;
     */
    background-color: white;
    height: 400px;
    width: 260px;
border: 1px solid red;
}
.right{
    border: none;
    background-color: white;
    height: 400px;
    width: 260px;
    
}
.mid{
    border: none;
    background-color: white;
    height: 400px;
    width: 260px;
}
.photo-container{
    display: flex;
    gap: 12px;
    margin-top: 30px;
}
.image{
width: 100%;
}
.contact-page{
    height: 500px;
    width: 100%;
    border: none;
    background-color: white;
    
}
.contact-header{
    text-transform: uppercase;
    text-align: center;
    font-weight: 50;
    letter-spacing: 5px;
    margin-top: 70px;
}